asttokens==2.4.1
autograd==1.6.2
azure-core==1.30.1
azure-storage-blob==12.19.1
certifi==2024.2.2
cffi==1.16.0
cftime==1.6.3
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.50.0
future==1.0.0
h5netcdf==1.3.0
h5py==3.10.0
idna==3.7
ipython==8.23.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
netCDF4==1.6.5
numpy==1.26.4
packaging==24.0
pandas==2.2.1
parso==0.8.3
pillow==10.2.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
py_wake @ git+https://gitlab.windenergy.dtu.dk/TOPFARM/PyWake.git@c5f42b793b446f6e2fc698792ead2b2e00581e42
pycparser==2.22
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scipy==1.12.0
setuptools==69.2.0
six==1.16.0
stack-data==0.6.3
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
xarray==2024.2.0
